@media only screen and ( min-width: 1081px ) /* 1000 */
    {
    	.mobilemenu {
    		display: none;
    	}
    	/*BASIC*/
    	.navholder.basic {
    		height: 110px ;
    		text-align: right;
    		-webkit-transition: height .5s;
			transition: height .5s;
    	}
    	.navholder.basic.fixed-nav {
    		height: 60px ;
    		text-align: right;
    		
    	}
    	.abovenav-holder {
    		height: 57px;
    		position: relative;
			z-index: 999;
    	}
    	.abovenav {
    		width: 960px;
    		margin: auto;
    	}
    	.basic .abovenav {
    		text-align: right;
    	}
    	.abovenav-holder.basic .appointment {
			display: inline-block;
			text-align: center;
			background-color: #fff;
			margin: 0px 10px;
			line-height: 40px;
			padding: 0px 10px;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			font-size: 18px;
			letter-spacing: 1px;
			border: 3px solid transparent;
		}
		.abovenav-holder.basic .appointment:hover {
display: inline-block;
text-align: center;
background: #999;
margin: 0px 10px;
line-height: 40px;
padding: 0px 10px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
font-size: 18px;
letter-spacing: 1px;
color: #fff;
border: 3px solid #fff;
opacity: 1;
}
    	.abovenav-holder.basic p {
			line-height: 57px;
			color: #fff;
			display: inline-block;
			padding: 0px;
			margin: 0px;
			font-weight: 400;
			font-size: 18px;
			letter-spacing: 2px;
		}
    	/*END BASIC*/
    	/*Template Classes */
    	.shadow {
    		-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
			-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
			box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
    	}
    	/*NOSTI*/
    	.bluebg
    	{
    		/*background-color: #001643;*/
    	}
    	.bluefont, .bluefont a {
    		color: #001643;
    	}

 .fixed {
 	position: fixed;
 	top: 0;
 	margin-top: 0px;
 	z-index: 999;
 	background-color: #fff;
 	width: 100%;
    }
.navholder.fixed {
	height: 44px;
}
.navholder.fixed .navlogo img {
	height: 40px;
	padding: 2px;

}
			.social-holder {
				width: 960px;
				text-align: right;
  				margin: 0 auto;
			}
			.social {
              display: inline-block;
              width: 960px;
              margin: auto;
              color: #999;
            }
            .social ul {
              display: inline-block !important;
              margin: 0px;
              padding:0px;
              list-style: none;
              width: 100%;
            }
            .social li {
              display: inline-block !important;
              padding: 0px;
              margin: 0px;
              line-height: 32px;
              text-align: center;
            }
            .social li:first-child {
              border-left: 1px solid #D3D3D3;
              border-right: 1px solid #D3D3D3;
              padding: 0px 20px;
              margin: 0px;
            }
            .social li {
              border-right: 1px solid #D3D3D3;
              border-bottom: 1px solid #D3D3D3;
              padding: 0px 10px 0px 10px;
              margin: 0px 0px 0px -5px;
            }
            .social li:before {
              padding: 0px;
              margin: 0px;
              width: 0px;
            }

            .social a {
              font-size: 18px;
              line-height: 32px;
              text-decoration: none;
            }
/*** ESSENTIAL STYLES ***/
.mspacer {
	height: 72px;
}
.fullheader {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
.navspacer {
	height: 50px;
	float: right;
	width: 60%;
	display: inline-block;
	-webkit-transition: height .5s;
	transition: height .5s;
}
.fixed-nav .navspacer {
	height: 0px;
	float: right;
	width: 60%;
	display: inline-block;
	
}
.fixed-nav .rs-menu {
	height: 60px;
	line-height: 60px;
}
.rs-menu {
	list-style: none;
	text-align: right;
	width: 80%;
	float: right;
	margin: 0px -1px 0px auto;
	height: 110px;
	position:relative;
	-webkit-transition: all .5s;
    transition: all .5s;
}
.rs-menu li {
	position: relative;
	text-align: left;
	list-style: none;

}
.rs-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
	list-style: none;
}
.rs-menu > li {
display: inline-block;
margin-left: -5px;
margin-top: 0px;
position: relative;
top: -4px;
line-height: 114px;
-moz-transition: all 1s;
-webkit-transition: all 1s;
transition: all 1s;
}
.rs-menu li {
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	transition: all 1s;
}
.fixed-nav .rs-menu > li {
display: inline-block;
margin-left: -5px;
margin-top: 0px;
position: relative;
top: -4px;
line-height: 61px;
}
.rs-menu li:hover > ul,
.rs-menu li.rsHover > ul {
	display: block;
}

.rs-menu ul ul {
	top: 0;
	left: 100%;
	padding: 0px;
}


/*** DEMO SKIN ***/

.navholder {
	max-width: 100%;
	height: 130px;
	position: relative;
	z-index: 998;
	margin-bottom: 0px;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
    transition: all 1s;
	
}
.rsnav {
	width: 1080px;
	margin: auto;
	
}
.navlogo {
	width: 15%;
	float: left;
	height: 110px;
	-webkit-transition: all 1s;
    transition: all 1s;
}
.fixed-nav .navlogo {
	height: 60px 
}
.navlogo img{
	max-height: 75px;
}

.fixed-nav .navlogo img{
	max-height: 40px;

}
.navlogo a {
	line-height: 104px;
	-webkit-transition: all 1s;
    transition: all 1s;
}
.fixed-nav .navlogo a {
	line-height: 58px;
}
.navholder.resize {
height:50px;
	
}

.rs-menu ul {
	-webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.75);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
	padding: 10px;

}
.rs-menu a {
	text-align: left;
	padding: 0px 20px;
	border: 0px solid transparent;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	zoom: 1; /* IE7 */
	display: block;
	position: relative;
}

.rs-menu a:hover, .rs-menu .current-menu-item a {
	text-align: left;
	opacity: 1 !important;
	background-color: #3f2b22;
	color: #fff !important;
}

.rs-menu li {
	text-align: left;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	font-size: 14px;
	-webkit-transition: all .5s;
    transition: all .5s;
}
ul.rs-menu li {
	text-align: left !important;
}
ul.rs-menu ul {
	padding: 0px;
	margin: 0px;
}
.rs-menu ul li {
	background: #FFF;
	text-align: left !important;
	padding: 0px 0px;
}
.rs-menu ul li:hover {
	background: #001643;
	color: #fff;
}
.rs-menu ul li:hover a {
	color: #fff;
}
.rs-menu ul li a{
	text-align: left !important;
	padding: 10px;
	font-weight: normal;
	color: #001643;
}
.rs-menu ul li a:hover {
	border: 1px solid transparent;
	opacity: 1;
}
.rs-arrows .rs-arrows .rs-with-ul:after {
content: '';
position: absolute;
top: 50%;
right: 1em;
margin-top: -3px;
height: 0;
width: 0;
border: 5px solid transparent;
border-top-color: #999;
border-top-color: rgba(0,0,0,.5);
}
.rs-menu ul ul li a{
	color: #383e57;
}
.rs-menu ul li:hover li a {
	color: #383e57; 
}
.rs-menu ul li li:hover a {
	color: #fff; 
}
.rs-menu li:hover,
.rs-menu li.sfHover {
	
}

.rs-arrows > li > .rs-with-ul:focus:after,
.rs-arrows > li:hover > .rs-with-ul:after,
.rs-arrows > .sfHover > .rs-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.rs-arrows ul .rs-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.rs-arrows ul li > .rs-with-ul:focus:after,
.rs-arrows ul li:hover > .rs-with-ul:after,
.rs-arrows ul .sfHover > .rs-with-ul:after {
	border-left-color: white;
}


}