.underbar {
  font-size:12px;
  text-transform:uppercase;
  color:#000;
  text-align:right;
  width:100%;
  display:block;
  line-height:30px;
  background: rgba(255,255,255,.9);    
  position:relative; z-index:99;
}
.underbar div {
  max-width:1080px;
  margin:auto;
  padding 0px 15px;
}
.underbar a {
  text-decoration:none;
  color:#000;
  margin: 0px 20px;
}